ADMIN_PASSWORD=snug2026
ADMIN_USERNAME=admin
CORS_ORIGIN=https://snug-house.netlify.app
JWT_SECRET=0a74ecac29e1a0fb4ffe3efce82b53c48bc4933cb31b1bd4431b1f997d39e55b
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTAxNDU5OTksImlkIjoiMDFhMGNkMDMtMGEwMS03YTcyLThjNzItODZmNTYyNDJkNGU1Iiwia2lkIjoibTV1X25Mdk0zYWVnSEF3WGRKVTRpV09pMGRUbGh0Zzg5QXIzeFkwTG9aQSIsInJpZCI6IjljODI3OTNlLTNiY2EtNDhjMy05MTg5LWFmZGRiNzI1MjFlYSJ9._cuCNG3zgjgh9R4yYSnRcyfVuh6RLJJwZiCi2LC8H3aW29C_7FcWyFCoh1EINIP4RdR1tO5zihSHLEwvkLorCw
TURSO_DATABASE_URL=libsql://snug-house-azizchikoff.aws-ap-south-1.turso.io